<select #selection (change)="handleChoice()">
  <option value={{IMPROPER_ALGORITHM}} hidden>Choose algorithm</option>
</select>
<button #execution (click)="executeAlgorithm()" disabled>Execute</button>
<button #return (click)="endInspection()" hidden>End inspection</button>
<button #mainThreadExecution (click)="executeAlgorithm('mainThread')" disabled>Execute in main thread (for
  testing)</button>
Step:
<button (click)="changeExecutionStep('backward')">&#8592;</button>
<input #stepsCount type="number" min="1" value="1" (change)="handleStepsNumber()">
<button (click)="changeExecutionStep('forward')">&#8594;</button>
