<div class="vertical">
  <div class="horizontal">
    <div class="switchContainer">
      <input type="radio" name="state" value="choose" [formControl]="state" id="stateChoose" (change)="resetTempNode()">
      <label for="stateChoose">Choose</label>
      <input type="radio" name="state" value="addNode" [formControl]="state" id="stateAddNode"
        (change)="resetTempNode()">
      <label for="stateAddNode">Add Node</label>
      <input type="radio" name="state" value="addEdge" [formControl]="state" id="stateAddEdge"
        (change)="resetTempNode()">
      <label for="stateAddEdge">Add Edge</label>
      <input type="radio" name="state" value="remove" [formControl]="state" id="stateRemove" (change)="resetTempNode()">
      <label for="stateRemove">Remove</label>
    </div>
    <div class="switchContainer">
      <input type="checkbox" id="layout" [formControl]="layout.active">
      <label for="layout">Graph layout</label>
    </div>
    <div class="vertical">
      <div class="horizontal">
        <label for="nodes">Nodes:</label>
        <input #numberOfNodes type="number" (change)="handleNodesNumber()" name="nodes" min="2" value="10">
      </div>
      <div class="horizontal">
        <label for="edges">Edges:</label>
        <input #numberOfEdges type="number" (change)="handleEdgesNumber()" name="edges" min="9" max="45" value="20">
        <!--min and max are manually calculated minimal and maximal number of edges for connected graph with 10 nodes
          (initial value of nodes number input), these values will change together with value in nodes number input-->
      </div>
    </div>
    <button (click)="randomGraph()">Random graph</button>
  </div>
  <div #display id="graph"></div>
</div>
