.inputContainer {
  display: inline-grid;
  grid-auto-flow: dense;
  align-items: center;
}

.inputContainer label,
.inputContainer input[type="number"] {
  grid-column: 2;
}

#buttonsRow {
  display: flex;
  justify-content: space-between;
}

#graph {
  height: 70vh;
  aspect-ratio: 16/9;
}