<app-page-template>
  <button headerRightButton [routerLink]="'/choice'">Choose algorithm</button>

  <div class="horizontal">
    <div>
      <h2>Shortest path algortihms learning environment</h2>
      <h3>The main purpose of this app is assisting anyone interested in learning about shortest path algortihms.</h3>
      <h3>Shortest path algorithms are designed to solve the shortest path problem. The shortest path problem is
        commonly defined for weighted graphs. These graphs are characterized by the fact that each edge in the graph is
        assigned some number, called a weight. In the context of the shortest path problem, weights are interpreted as
        lengths of edges. The solution to the problem is such a sequence of edges connecting two chosen nodes (or a
        sequence of nodes connected by edges, depending on interpretation), that the sum of edges lengths is minimal.
        Solution to an example shortest path problem can be seen on the image next to this text.
      </h3>
      <h3>Finding shortest travelling route between two cities is a basic example of application of shortest path
        algortihms</h3>
      <h3>Created as a part of an Engineering Thesis by Cezary Moczulski, a student of Computer Science at Faculty of
        Electronics and Information Technology at Warsaw University of Technology.</h3>
    </div>
    <img src="assets/Graph.png">
  </div>
</app-page-template>
