<div class="horizontal">
  <div class="vertical">
    <app-graph-display [executing]="executing" [(choosenElement)]="choosenElement"></app-graph-display>
    <app-algorithm-controller [(executing)]="executing"></app-algorithm-controller>
  </div>
  <div class="vertical">
    <div #stageDescription id="description" #description>Description of current step of algorithm execution will appear
      here</div>
    <app-element-info-display [choosenElement]="choosenElement"></app-element-info-display>
  </div>
</div>
