/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.display {
  border: 1px solid black;
  padding: 5px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}